---
import GitHub from "./icons/GitHub.astro"
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"
import ReactIcon from "./icons/React.astro"
import PythonIcon from "./icons/Python.astro"

import es from "../i18n/es.json"
import en from "../i18n/en.json"
import pt from "../i18n/pt.json"

const langs = { es, en, pt } as const;
type Lang = keyof typeof langs;

const langParam = Astro.url.pathname.split('/')[1];
const lang: Lang = (['es', 'en', 'pt'].includes(langParam) ? langParam : 'es') as Lang;
const t = langs[lang];

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  REACT: {
    name: "React",
    class: "bg-blue-600 text-white",
    icon: ReactIcon,
  },
  PYTHON: {
    name: "Python",
    class: "bg-yellow-500 text-black",
    icon: PythonIcon,
  }
};
const PROJECTS = [
  {
    image: "/projects/anais.png",
    link: "https://www.socialmeeting.info",
    github: "https://github.com/FrancoGuty455?tab=repositories",
    tags: [TAGS.NEXT, TAGS.REACT],
    ...t.projects[0],
  },
  {
    image: "/projects/ventas-python.png",
    github: "https://github.com/FrancoGuty455/KioscoProyect",
    tags: [TAGS.PYTHON],
    ...t.projects[1],
  }
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img alt={title} class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>

          <ul class="flex flex-row mb-2 mt-2 gap-x-2">
            {tags.map((tag) => (
              <li>
                <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}>
                  <tag.icon class="size-4" />
                  {tag.name}
                </span>
              </li>
            ))}
          </ul>

          <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>

          <footer class="flex items-end justify-start mt-4 gap-x-4">
            {github && (
              <LinkButton href={github}>
                <GitHub class="size-6" />
                Code
              </LinkButton>
            )}

            
          </footer>
        </div>
      </article>
    ))
  }
</div>
